{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}
    <div id="navbar"></div>
    <div id="wrapper">
        <div id="root"></div>
        <div id="form"></div>
        <div id="items"></div>
    </div>
{% endblock %}
